.css_event0{
    width:8px;
    height:8px;
    background:#FFB90F;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.css_event1{
    width:10px;
    height:10px;
    background:#FF6EB4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event2{
    width:10px;
    height:10px;
    background:#FF3030;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event3{
    width:10px;
    height:10px;
    background:#EEEE00;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event4{
    width:10px;
    height:10px;
    background:#EED5B7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event5{
    width:10px;
    height:10px;
    background:#EE3A8C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event6{
    width:10px;
    height:10px;
    background:#E0EEE0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event7{
    width:10px;
    height:10px;
    background:#CD661D;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event8{
    width:10px;
    height:10px;
    background:#B22222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event9{
    width:10px;
    height:10px;
    background:#9B30FF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.css_event10{
    width:10px;
    height:10px;
    background:#8B8B7A;
}
.css_event11{
    width:10px;
    height:10px;
    background:#8B4500;
}
.css_event12{
    width:10px;
    height:10px;
    background:#7FFF00;
}
.css_event13{
    width:10px;
    height:10px;
    background:#4A4A4A;
}
.css_event14{
    width:10px;
    height:10px;
    background:#458B00;
}
.css_event15{
    width:10px;
    height:10px;
    background:#050505;
}
.css_event16{
    width:10px;
    height:10px;
    background:#00FF00;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid;
}
.css_event17{
    width:10px;
    height:10px;
    background:#006400;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid;
}
.css_event18{
    width:10px;
    height:10px;
    background:#0000AA;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid;
}
.css_event19{
    width:10px;
    height:10px;
    background:#68228B;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid;
}
.css_event20{
    width:10px;
    height:10px;
    background:#F5F5DC;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid;
}
